* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lobster', cursive;
}
body {
    height: 100vh;
    background: #efefef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    margin-top: 20px;
    font-size: 3rem;
}
img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.memory-game{
    margin: auto;
    width: 640px;
    height: 640px;
    border: 2px solid lime;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}
.memory-card {
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    position: relative;
    border: 2px solid aqua;
    margin: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}
.memory-card:active{
    transform: scale(0.97);
    transition: transform .2s;
}
.front-face, .back-face {
    border: 2px solid deeppink;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 5px;
    background: #efefef;
    backface-visibility: hidden;
}
.memory-card.flip{
    transform: rotateY(180deg);
}
.front-face{
    transform: rotateY(180deg);
}